.center {
  text-align: center;
}
.font_verdana {
  font-family: Verdana;
}
.blue {
  color: blue;
}
#fact1 {
  color: blue;
}
#fact2 {
  color: orchid;
}
#fact3 {
  color: green;
  font-style: bold;
}
form {
  font-weight: bold;
}
.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
